/*Limpiamos la pantalla*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(../img/foxtail.png);
}

/*header*/

header{
    border: rgb(37, 37, 37);
    box-shadow: 3px;
    width: 100%;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

header p{
    font-size: 10px;
}
.FUD{
    background-color: rgb(49, 73, 51);
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   
    color: white;
}

.gob{
    text-align: left;
    background-color: rgba(9, 20, 10, 0.87);
    font-size: 45px;
    border-bottom:2px solid;
    padding: 5px;
    color: white;
}
/*_________________BOX__________________*/
.box{
    width: 90%;
    margin: 5%;
    height: auto;
    background: rgba(230, 229, 229, 0.74);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.style{
    display: flex;
    flex-flow: row;
    justify-content:left;
    padding-left: 10px;
    padding: 10px;
    margin: auto;
}

.style button{
    border-radius: 5px;
    border: none;
    height: 40px;
    background: rgba(143, 143, 143, 0.767);
    padding: 5px;
    margin: 5px;
}

.style button:hover{
    transform: translate(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.style p{
    font-size: 20px;
    margin: 0;
    
}

.style input{
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    background: #74747444;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #747474;
    font-family:Arial, Helvetica, sans-serif;
}



.style input:focus{
  
   box-shadow: 3px 0px 30px rgba(0,0,0,.5);
}

/*_________________FOTER__________*/

.tableFooter{
    width: 80%;
    margin: 0 10% 0 10%;
}

.tableFooter td{
    width: auto;
}

.footer{
    border-top: solid black 1px;
    background: #cecece;
    width: 100%;
}

.footer img{
    width: auto;
    height: 100px;
}